    <footer class="footer">

        <div>
            <img src="/images/footer-logo.png" alt="Sua Logo" class="img-footer">
        </div>

        <div class="container-footer contact">
            <h3 class="titulo-footer">CONTACT</h2>
            <p class="texto-footer">123-456-789<br>info@presso.com</p>
            <div class="icon-footer">
                <a href="#">
                    <span><i class="bi bi-twitter"></i></span>
                </a>
                <a href="#">
                    <span><i class="bi bi-facebook"></i></span>
                </a>
                <a href="#">
                    <span><i class="bi bi-instagram"></i></span>
                </a>
            </div>
        </div>
        
        <div class="container-footer">
            <h3 class="titulo-footer">ADDRESS</h2>
            <p class="texto-footer">123 your street name,<br>City name, Country, post code</p>
        </div>
    </footer>

</body>
</html>